<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/../../../resources/css/slides.css">
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/../../../resources/css/syntax.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
{{ content }}
<div id="progress-bar"></div>
<script src="{{ site.res_base_url }}/../../../resources/js/slides.js"></script>
</body>
</html>
